.chatbox {
  position: relative;
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 5px;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.send-text-form {
  position: absolute;
  display: flex;
  bottom: 1rem;
  box-sizing: border-box;
  padding-right: 2rem;
  width: 100%;
  justify-content: space-between;
}

.message-input {
  &::-webkit-scrollbar {
    display: none;
  }
}

.textbox {
  width: 80%;
}

.messages-container {
  height: 90%;
  box-sizing: border-box;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0.5rem;
    color: black;
  }
}
.message {
  margin-bottom: 1rem;
}
.user {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}
.data {
  font-weight: lighter;
  font-size: 0.9rem;
}

.guest-chatbox {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgb(241, 240, 240);
  height: 100%;
  font-size: 0.8rem;
  color: rgb(58, 58, 58);
}
