.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 1rem;
}

.alert {
  width: 20rem;
  margin-bottom: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  padding: 1.5rem 5rem 2rem 5rem;
  margin-bottom: 1rem;
  height: 20rem;
}

.signup {
  height: 25rem;
}

.inputField {
  margin-bottom: 0.5rem;
}

.heading {
  align-self: center;
  margin-bottom: 1.5rem;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  .btn {
    width: 100%;
    align-self: center;
    font-size: 1rem;
  }
}

.login-link {
  cursor: hand;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.root-contaniner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.or-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin: 1rem;
}

.bg-img {
  background-image: url("https://wallpaperaccess.com/full/1201178.jpg");
}
